.text__top {
    color: #fff;
    line-height: 1.3;
}

.mdl-card {
    position: relative;
}

.quote-text__bg {
    background-color: rgba(0,0,0,0.50);
}

.quote-text {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mdl-checkbox__input {

}

.wrap-card-body__radio {
    align-content: center;
}

.col-7 {
    position: relative;
}
#quoteImg {
    position: absolute;
    top:0;
}
